---
import { count } from '@/lib/sounds';

import '@/styles/global.css';

interface Props {
  description?: string;
  title?: string;
}

const title =
  Astro.props.title || 'Murmurs Free: Ambient Sounds for Focus and Calm';
const description =
  Astro.props.description ||
  `Murmurs Free a the ad-supported ambient sound generator featuring ${count()} carefully curated sounds. Create your ideal atmosphere for relaxation, focus, or creativity with this versatile tool.`;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width" name="viewport" />
    <meta content={Astro.generator} name="generator" />
    <meta content="#18181b" name="theme-color" />
    <link href="/favicon.svg" rel="icon" type="image/svg+xml" />

    <title>{title}</title>
    <meta content={title} name="title" />
    <meta content={description} name="description" />

    <meta content={title} property="og:title" />
    <meta content={description} property="og:description" />
    <meta content="Murmurs Free" property="og:site_name" />
    <meta content="https://murmurs.stream" property="og:url" />
    <meta content="website" property="og:type" />
    <meta content="https://murmurs.stream/og.png" property="og:image" />

    <meta content="summary_large_image" name="twitter:card" />

    <!-- Add your tracking code here -->
    <script
      async
      defer
      onload="init_tracer()"
      src="https://app.visitortracking.com/assets/js/tracer.js"></script>
    <script>
      function init_tracer() {
        if (typeof Tracer !== 'undefined') {
          var tracer = new Tracer({
            async: true,
            debug: false,
            websiteId: '4e9eed7e-c937-42bf-a391-924abf2fa593',
          });
          // Example of tracking a page view
          tracer.trackPageView(); // Call this method to track the page view
        } else {
          console.error(
            'Tracer is not defined. Please check the script source.',
          );
        }
      }
    </script>
  </head>
  <body>
    <slot />
  </body>
</html>
